@import '../../mixins.scss';

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #F6F6F6;
  @include margin;
  border-radius: 20px;
  margin-top: 20px;
}

.galleryimg {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.galleryElement {
  position: relative;
  margin-left: auto;
  margin-right:auto;
}

.TitreImage {
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  max-width:50%;
}

.background{
  width:100%;
}

@media (max-width: 1040px) {

#gallery{
grid-template-columns: 1fr 1fr;
max-width: 768px;
}

}

@media (max-width: 768px)
{
  #gallery{
    grid-template-columns: 1fr;
    max-width: 768px;
    }
}