@import '../../mixins.scss';


#imgbanner {
    max-height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  #banner {
    max-height: 223px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
    @include shadow;
    @include margin;
  }
  
  #TitreAcceuil {
    color: white;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    opacity: 100%;
    white-space: nowrap;
  }

  .background{
  @include background(30%);
  }

  @media (max-width: 1040px) {

    #banner{
      max-width: 768px;
    }

  }

  @media (max-width: 768px){
    
    #banner{
      margin-left: 10px;
      margin-right:10px;
      height:111px;
    }

    #imgbanner{
      height:111px;
    }

    #TitreAcceuil{
  font-size: 24px;
    }
  }