@import '../../mixins.scss';


#imgbanner {
    max-height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  
  #banner {
    max-height: 223px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
    @include margin;
  }
  
  #TitreAcceuil {
    color: white;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    opacity: 100%;
  }

  .background{
@include background;
  }

  @media (max-width: 1040px) {

    #banner{
      max-width: 768px;
    }

  }