/* Réinitialisation de CSS */

/* Remise à zéro des marges et des paddings */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Remise à zéro des styles de base */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* Réinitialisation des éléments de formulaire */
input, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Réinitialisation des éléments de mise en page */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Réinitialisation des styles par défaut des liens */
a {
  color: inherit;
  text-decoration: none;
}

header {
  color: #FF6060;
  display: flex;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  right: 10px;
}

li {
  margin-right: 20px;
}
