@import '../../mixins.scss';

#TitreAppart {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
  }

.tag{
  border-style:groove;
  border-radius:50px;
  background-color: #FF6060;
  color:white;
  width:115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0;
  padding-top:3px;
  padding-bottom:3px;
  margin-right: 10px;
}

.InfosContainer{
  @include margin;
  justify-content: space-between;
  margin-top: 10px;
}

.picture{
  border-radius: 50px;
  object-fit: cover;
  width: 80px;
}

.location{
  color:#FF6060;
  font-size: 18px;
  font-weight: 500;
}

.name{
  color:#FF6060;
  font-size: 18px;
  font-weight: 500;
  white-space: pre-line;
  word-break:keep-all;
  margin-right: 5px;
}

.equipements{
display:flex;
flex-direction: column;
}

.equipement{
  font-size:18px;
  margin-bottom: 5px;
}

.collapses{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.collapseleft{
  width:45%;
}

.collapseright{
  width:45%;
}

.DataContainer{
  display:flex;
  flex-direction: row;
}

.NameContainer{
  margin-left: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.names{
  display:flex;
  flex-direction: row;
  margin-right: auto;
  align-items: center;
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  @media (max-width: 768px)
{

.InfosContainer{
  margin-left: 10px;
  margin-right: 10px;
}

.DataContainer{
  flex-direction: column;
}

.NameContainer{
  flex-direction: row-reverse;
  margin-left: 0;
  width:100%;
  align-items:center;
}

.names{
  float: right;
  margin-left: auto;
  margin-right:0;
}

.collapses{
  flex-direction: column;
}

.collapseleft{
  width:100%
}
.collapseright{
  width:100%
}

.tag{
  margin-top: 5px;
}
}