#TitreAppart {
    color: #FF6060;
  }

.tag{
  border-style:groove;
  border-radius:50px;
  background-color: #FF6060;
  color:white;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfosContainer{
  margin:20px;
}

.picture{
  border-radius: 50px;
  object-fit: cover;
  width: 80px;
}



.name{
  color:#FF6060;
}

